
/*-------------------------------------------Mobile Media Query Start-----------------------------------------------------------------*/
@media (min-width:320px) and (max-width:345px) {
    /* .edit_box_header .designation {
        padding-left: 50px;
    }
    .edit_report_header .flex-wrap {
      flex-wrap: wrap;
    } */
    .ql-editor h2{
        font-size: small;
    }
    .ql-toolbar.ql-snow {
        padding: 0px;
    }
   
}

@media (max-width:424px) {
    .edit_box_header .designation, .edit_box_header .profilename {
        font-size: 12px;
    }
    .custom-select-activity select {
        font-size: 12px;
    }
    .modal-content .pb_20.pt_20.pl_20.pr_20 {
        padding: 10px;
    }
    .projectsetting_header h2 {
        font-size: 20px;
      }
      .tabs {
        padding: 7px 5px;
       
    }
    .accor {
        padding: 5px;
        margin: 0;
        margin-bottom: 10px;
    }
    .edit_report_header {
        position: relative;
    }
    .edit_report_header .profilename {
        position: absolute;
        top: -5px;

    }
    .edit_report_header .designation {
        position: absolute;
        top: 15px;
    }
}

@media (max-width:600px) {
   
}

@media (max-width:767px) {
    .loginpage_field {
        margin: 30px auto
    }
    .cards_documents {
        justify-content: flex-start;
      }
      .signup_divider h2 {
        margin-top: 0px;
    }
    .signup_sidenav {
        margin: 0px 20px;
    }
    .document_search{
        margin-left: 24px;
    } 
    .document_header {
        flex-wrap: wrap;
    }
    .company_details_locations h6{
        margin-top: 15px;
    }
    .project_expenses img {
        top: 20px;
      }
      .MuiDrawer-root {
        position: absolute;
        left: 0;
      }
      .MuiDrawer-paper {
        height: 107vh !important;
      }
      .sidenav a {
        padding: 10px 15px;
      }
      .makeStyles-content-12 {
        margin-left: 75px !important;
      }
      .accor .body {
        padding: 0px 11px;
    }
    .actvity_header_titleleft {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
        position: relative;
    }
    .actvity_header_titleleft .designation {
        position: absolute;
        top: 28px;
        left: 120px;
        font-size: 11px;
        width: 100%
    }
    .activity_header_select {
        flex-wrap: wrap;
        justify-content: flex-start;
        row-gap: 10px;
    }
}
   
 
  /*-----------------------------------------------Mobile Media Query End---------------------------------------------------------------*/
  /*-----------------------------------------------Desktop and Laptop Media Query Start-------------------------------------------------------------*/
  
  
  @media (max-width: 991px) {
    .navbar-toggler {
        font-size: 1.10rem !important;
        border: none !important;
    }
    .main-header .button1 {
        display: none;
      }
      .main-header .mob-button {
        display: block;
        background: #000000;
        border: 1px solid #242529;
        border-radius: 100px;
        font-family: "SF Pro Display";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 15px;
        color: #f6f6f6;
        padding: 8px 20px;
        border: none;
      }
      .makeStyles-menuButton-6 {
        position: absolute;
        top: 22px;
        left: 22px;
      }

  }
  

  @media (max-width: 1200px) {
    .skills_section_buttons{
        flex-wrap: wrap;
    }
  }
  

  
  @media (min-width:1400px) {
   
  }
    /*------------------------------------------------Desktop and Laptop Media Query End-------------------------------------------------------------*/
  